MINIO_PASSWORD="your_minio_password_here"
MINIO_SERVER_URL=http://storage.localhost:8080
MINIO_ACCESS_KEY=playlog_user
MINIO_SECRET_KEY="${MINIO_PASSWORD}"
MINIO_BUCKET=playlog-media

MONGODB_PASSWORD="your_mongodb_password_here"
MONGODB_DATABASE=multimedia_db
MONGODB_COLLECTION=game_media
MONGODB_URI="mongodb://playlog_user:${MONGODB_PASSWORD}@mongo_multimedia:27017/"

CATALOGUE_SERVICE_URL=http://catalogue-service-axum-server:3001

JWT_PUBLIC_KEY_PATH=keys/public.pem

RUST_LOG=multimedia_service=warn,tower_http=info,axum=warn
