JWT_PUBLIC_KEY_PATH=../../keys/public.pem

CATALOGUE_SERVICE_URL=http://localhost:3001
LIBRARY_SERVICE_URL=http://localhost:3002
MULTIMEDIA_SERVICE_URL=http://localhost:3003
REVIEW_SERVICE_URL=http://localhost:3004
USER_SERVICE_URL=http://localhost:3005

RUST_LOG=api_gateway=debug,tower_http=debug
