JWT_PUBLIC_KEY_PATH=keys/public.pem

CATALOGUE_SERVICE_URL=http://catalogue-service-axum-server:3001
LIBRARY_SERVICE_URL=http://library-service-axum-server:3002
MULTIMEDIA_SERVICE_URL=http://multimedia-service-axum-server:3003
REVIEW_SERVICE_URL=http://review-service-axum-server:3004
USER_SERVICE_URL=http://user-service-axum-server:3005

RUST_LOG=api_gateway=warn,tower_http=info,axum=warn
