MONGODB_PASSWORD=your_mongodb_password_here
MONGODB_DATABASE=reviews_db
REVIEWS_COLLECTION=reviews
COMMENTS_COLLECTION=comments
REPORTS_COLLECTION=reports
MONGODB_URI="mongodb://playlog_user:${MONGODB_PASSWORD}@mongo_review:27017/"

CATALOGUE_SERVICE_URL=http://catalogue-service-axum-server:3001

JWT_PUBLIC_KEY_PATH=keys/public.pem

RUST_LOG=review_service=warn,tower_http=info,axum=warn
