<mat-toolbar>
	@if (!topLevelDestination) {
		<button mat-icon-button (click)="location.back()" matTooltip="Go Back" i18n-matTooltip="@@nav.goBack">
			<mat-icon fontSet="material-symbols-rounded">arrow_back</mat-icon>
		</button>
	}

	<span class="navbar-brand-text px-3" routerLink="/" i18n="@@nav.brand">Playlog</span>


	<span class="toolbar-spacer"></span>

	<button
		mat-icon-button
		(click)="changeTheme()"
	>
		@if (sessionService.theme() === 'light') {
			<mat-icon
				fontSet="material-symbols-rounded"
				matTooltip="Switch to Dark Theme"
				i18n-matTooltip="@@nav.switchToDark"
			>
				dark_mode
			</mat-icon>
		} @else {
			<mat-icon
				fontSet="material-symbols-rounded"
				matTooltip="Switch to Light Theme"
				i18n-matTooltip="@@nav.switchToLight">
				light_mode
			</mat-icon>
		}
	</button>

	<mat-divider vertical class="ps-2"></mat-divider>
	<button
		mat-icon-button
		[matMenuTriggerFor]="sessionService.user().role === Role.GUEST ? profileMenuGuest : profileMenuUser"
		class="profile-menu-trigger"
		matTooltip="Profile"
		i18n-matTooltip="@@nav.profile"
	>
		<mat-icon fontSet="material-symbols-rounded">account_circle</mat-icon>
	</button>

	<mat-menu #profileMenuUser="matMenu">
		<button mat-menu-item routerLink="/profile" i18n="@@nav.myAccount">
			My Account
		</button>
		<mat-divider></mat-divider>
		<button
			mat-menu-item
			(click)="logout()"
			routerLink="/home"
		>
			<mat-icon fontSet="material-symbols-rounded">logout</mat-icon>
			<span i18n="@@nav.signOut">Sign out</span>
		</button>
	</mat-menu>

	<mat-menu #profileMenuGuest="matMenu">
		<button mat-menu-item (click)="openLoginDialog()">
			<mat-icon fontSet="material-symbols-rounded">login</mat-icon>
			<span i18n="@@nav.signIn">Sign in</span>
		</button>
		<button mat-menu-item (click)="openRegisterDialog()">
			<mat-icon fontSet="material-symbols-rounded">person_add</mat-icon>
			<span i18n="@@nav.signUp">Sign up</span>
		</button>
	</mat-menu>

</mat-toolbar>
