CATALOGUE_DB_PASSWORD="your_catalogue_db_password_here"
DATABASE_URL="postgresql://playlog_user:${CATALOGUE_DB_PASSWORD}@postgres_catalogue:5432/catalogue_db"

JWT_PUBLIC_KEY_PATH=keys/public.pem

RUST_LOG=catalogue_service=warn,tower_http=info,axum=warn
