# DEV - uncomment to seed local dev databases

#RAWG_API_KEY=your_rawg_api_key_here
#CATALOGUE_DB_NAME=catalogue_db
#DB_USER=playlog_user
#PG_PASS=your_postgres_password_here
#USERS_DB_PASSWORD=${PG_PASS}
#CATALOGUE_DB_PASSWORD=${PG_PASS}
#LIBRARY_DB_PASSWORD=${PG_PASS}
#MINIO_ENDPOINT=localhost:9000
#MINIO_ACCESS_KEY=playlog_user
#MINIO_SECRET_KEY=your_minio_password_here
#MEDIA_MONGODB_URI="mongodb://playlog_user:your_mongo_password_here@localhost:27019/"
#REVIEW_MONGODB_URI="mongodb://playlog_user:your_mongo_password_here@localhost:27018/"


#PROD - uncomment to seed prod databases

RAWG_API_KEY=your_rawg_api_key_here
DB_USER=playlog_user
USERS_DB_PASSWORD="your_users_db_password_here"
CATALOGUE_DB_PASSWORD="your_catalogue_db_password_here"
LIBRARY_DB_PASSWORD="your_library_db_password_here"

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=playlog_user
MINIO_SECRET_KEY=your_minio_password_here

MEDIA_MONGO_PASSWORD="your_mongo_password_here"
MEDIA_MONGODB_URI="mongodb://playlog_user:${MEDIA_MONGO_PASSWORD}@localhost:27019/"

REVIEW_MONGO_PASSWORD="your_mongo_password_here"
REVIEW_MONGODB_URI="mongodb://playlog_user:${REVIEW_MONGO_PASSWORD}@localhost:27018/"
