<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.content }}</mat-dialog-content>
<mat-dialog-actions>
	@if (neutralActionText) {
		<button
			matButton
			(click)="neutralAction?.()"
			[mat-dialog-close]="true"
			class="me-auto"
		>
			{{ neutralActionText }}
		</button>
	}
	@if (negativeActionText) {
		<button
			matButton
			mat-dialog-close
			(click)="negativeAction?.()"
		>
			{{ negativeActionText }}
		</button>

	}
	@if (positiveAction && positiveActionText) {
		<button
			matButton="filled"
			(click)="positiveAction()"
			[mat-dialog-close]="true">
			{{ positiveActionText }}
		</button>
	}
</mat-dialog-actions>
