LIBRARY_DB_PASSWORD="your_library_db_password_here"
DATABASE_URL="postgresql://playlog_user:${LIBRARY_DB_PASSWORD}@postgres_library:5432/library_db"

CATALOGUE_SERVICE_URL=http://catalogue-service-axum-server:3001

JWT_PUBLIC_KEY_PATH=keys/public.pem

RUST_LOG=library_service=warn,tower_http=info,axum=warn
