PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=your_pgadmin_password_here

LIBRARY_DB_PASSWORD=your_library_db_password_here
DATABASE_URL="postgresql://playlog_user:${LIBRARY_DB_PASSWORD}@localhost:5435/library_db"

CATALOGUE_SERVICE_URL=http://localhost:3001

JWT_PUBLIC_KEY_PATH=../../keys/public.pem
